
/* Variables to use accoss entire CSS */
:root {
  --colorRed: red;
  --textoncolor: #fff;
  --backroundcolor: #333;
  --colorOverlay: rgba(0, 0, 0, 0.5);
  /* --colorGradient: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)); for future use*/ 
  --fontFamily: Arial, sans-serif;
  --fontSize: 18px;
  --borderRadius: 100px;
  --padding: 20px;
}
/* Body */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(150, 148, 147);
  font-family: league spartan;
}
/* Header */
header {
  background-color: var(--backroundcolor);
  color: var(--textoncolor);
  padding: var(--padding);
}

nav ul,
.details ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li,
.details li {
  display: inline-block;
  margin-right: 20px;
}

nav a,
.details a {
  color: #000000;
  text-decoration: none;
  font-size: var(--fontSize);
}

.details p {
 margin-bottom: 30px; 
}
/* Nav shortcuts About me, Work, Contacts */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  
}

nav a {
  color: var(--textoncolor);
  text-decoration: none;
  font-size: 18px;
}

nav a:hover,
.details a:hover {
  color: var(--colorRed);
  text-decoration: none;
  transition: .25s;
}
/* Main */
main {
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding);
}

main h2 {
  margin-bottom: 20px;

}

section img {
  border-radius: var(--borderRadius);
  width: 100px;
  height: auto;
}

section {
  width: 100%;
  margin-bottom: 40px;
}

section h2 {
  font-size: 24px;
}
/* Work Section */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.portfolio a {
  margin: 5px;
  position: relative;
  z-index: 1;
}

.portfolio a img {
  width: 400px;
  height: 200px;
  margin: 12px;
  border-radius: var(--borderRadius);
  transition: all .3s ease-in-out;
}
/* First most prominent Project  */
.portfolio a:first-child {
  position: relative;
  z-index: 1;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
/* First most prominent Project  */
.portfolio a:first-child img {
  width: 1000px; 
  height: 300px;
}
/* Controls overlay for project images */
.portfolio a::before {
  content: attr(data-title);
  color: white;
  position: absolute;
  background-color: var(--colorOverlay);
  color: var(--textoncolor);
  width: auto;
  height: auto;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  z-index: 2;
  top: 50%;
  left: 50%;
  transition: opacity 0.3s ease-in-out;
  transform: translate(-50%, -50%) translateZ(0);;
}
/* Causes portfolio images to pop when you hover */
.portfolio a:hover img {
  transform: scale(1.1);
}
/* Causes overlay on images to pop when you hover */
.portfolio a:hover::before {
  transform: translate(-50%, -50%) translateZ(0) scale(1.5);
}

/* Allows my display photo to be beside my about me details */
  #about .profile {
    float: left;
    margin-right: 20px;
  }

  #about .details {
    max-width: 1000px;
    margin: 0 auto;
  }

  /* Footer */
  footer {
    padding: var(--paddingMobile);
    text-align: center;
    background-color: var(--backroundcolor);
    color: var(--textoncolor);
    padding: 20px;
  }

/* Moves objects when the screen size is changed */

  @media only screen and (max-width: 767px) {
    nav ul {
      text-align: center;
    }
  
    section {
      text-align: center;
    }
  
    section h2 {
      text-align: center;
    }
  
    .portfolio {
      justify-content: center;

    }
  
    .details {
      text-align: center;
    }
  
    .details li {
      margin-right: 5px;
    }

    .portfolio a {
      width: 100%; 
      height: 50%;
    }
    .portfolio a:first-child img {
      width: 100%; 
      height: 50%;
      margin: 10px;
    }
    
  }

  @media only screen and (max-width: 320px) {

    nav ul {
      text-align: center;
    }
    section h2 {
      text-align: center;
    }
    .portfolio a::before {
      width: 100%;
      height: 50%;
      font-size: 12px;
    }

    .portfolio a {
      margin: 5px;
    }

  }
